.wrap {
  background-color: var(--bg-blue);
  position: sticky;
  top: 0;
  z-index: 8
}

.container, .nav {
  align-items: center;
  display: flex;
}

.container {
  justify-content: space-between;
  padding: var(--indent-24-16) 0;
}

.nav { gap: var(--indent-24-16); }

:is(.nav) a {
  color: var(--white-color);
  background-image: linear-gradient(var(--regular-color), var(--regular-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  padding-bottom: 2px;
  transition: background-size .3s;
}

.nav > ul > li > a:hover {
  background-size: 100% 2px;
}

.number {
  border-bottom: 3px solid var(--regular-color);
  font-weight: 700;
  padding-bottom: 2px;
}