.wrap {
  background-color: var(--bg-white);
  position: sticky;
  top: 0;
  z-index: 8
}

.container, .nav {
  align-items: center;
  display: flex;
}

.container {
  justify-content: space-between;
  padding: var(--indent-24-16) 0;
}

.nav { gap: var(--indent-24-16); }
