.container:not(:first-child) { border-top: 2px solid; }

.accordion_style,
.regular_style,
.tab_style {
  font-size: var(--smaller_font_size);
  width: 100%;
}

.accordion_style {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--small_pad) 0;
  position: relative;
}

.accordion_style[aria-expanded=true] {}

.tab_style[aria-expanded=true] {}
