.container:not(:first-child) { border-top: 2px solid; }

.accordion_style,
.regular_style,
.tabs_style {
  font-size: var(--smaller_font_size);
  width: 100%;
}


/* Accordion */


.accordion_style {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--small_pad) 0;
  position: relative;
}

.accordion_style[aria-expanded=true] {}


/* Tabs */


.tabs_style {
  background-color: #fff; /* temp */
  color: #666; /* temp */
  padding: var(--small_padding);
  position: relative;
}

li:first-child > button.tabs_style { border-top-left-radius: var(--outer_radius); }

li:last-child > button.tabs_style { border-bottom-left-radius: var(--outer_radius); }

li:not(:last-child) > button.tabs_style::after {
  background-color: #e5e5e5; /* temp */
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  margin-left: var(--small_padding);
  position: absolute;
  width: calc(100% - calc(var(--small_padding) * 2));
}

.tabs_style[aria-expanded=true] {
  color: #000; /* temp */
}
