.accordion {}

.dialog {}

.regular,
.tab { padding: var(--regular_card_padding); }

.tab {
  background-color: #fff; /* temp */
  border-left: 2px solid #e5e5e5; /* temp */
  border-bottom-right-radius: var(--outer_radius);
  border-top-right-radius: var(--outer_radius);
  grid-area: cards;
}

.tab.slide_downn {}

.tab.slide_up {}

.regular {
  background-color: #fff; /* temp */
  border-radius: var(--outer_radius);
}

.tab {}