.accordion_style {}

.dialog_style {}

.regular_style,
.tabs_style { padding: var(--regular_card_padding); }

.tabs_style {
  background-color: #fff; /* temp */
  border-left: 2px solid #e5e5e5; /* temp */
  border-bottom-right-radius: var(--outer_radius);
  border-top-right-radius: var(--outer_radius);
  grid-area: cards;
}


.regular_style {}

.tabs_style {}