.container:not(:first-child) {
  border-top: 2px solid;
}

.common_style {
  font-size: var(--smaller_font_size);
  width: 100%;
}

.accordion_style,
.accordion_style_active {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--small_pad) 0;
  position: relative;
}


.inactive_style {}

.regular_style {}

.regular_style_active {}

.stripped_style {}

.stripped_style_active {}

.tab_style {}

.tab_style_active {}