.accordion {}

.accordion:not([hidden]) {}


/* Regular */


.regular {
  background-color: var(--bg-white);
  border-radius: var(--outer-radius);
  padding:
    var(--indent-24-16)
    var(--indent-32-24)
    var(--indent-32-24)
    var(--indent-24-16);

}


/* Tab */


.tab {
  border-left: 2px solid var(--decor-light-gray);
  grid-area: cards;
  height: auto;
  padding:
    18px
    var(--indent-32-24)
    var(--indent-16-12)
    var(--indent-24-16);
}

.tab:not([hidden]) {}

.tab:not([hidden]).slide_down > * {}

.tab:not([hidden]).slide_up > * {}
