.accordion {}

.accordion:not([hidden]) {}

.dialog {}


/* Regular */


.regular {
  padding:
    var(--indent-24-16)
    var(--indent-32-24)
    var(--indent-32-24)
    var(--indent-24-16);

}

.regular {
  background-color: var(--bg-white);
  border-radius: var(--outer-radius);
}


/* Stripped */


.stripped {
  background-color: inherit;
  height: auto;
  padding: 0;
  width: auto;
}


/* Tab */


.tab {
  background-color: var(--bg-white);
  border-left: 2px solid var(--decor-light-gray);
  grid-area: cards;
  padding:
    var(--indent-12-8)
    var(--indent-32-24)
    var(--indent-12-8)
    var(--indent-24-16);
}

.tab:not([hidden]) {}

.tab:not([hidden]).slide_down > * {}

.tab:not([hidden]).slide_up > * {}
