.list > li:not(:last-child) { margin-bottom: var(--indent-12-8); }


/* Horisontal */


.list.horisontal {
  display: flex;
  gap: var(--indent-20-16);
}


/* Ordered */


.list.ordered { counter-reset: num; }

.list.ordered > li {
  padding-left: var(--indent-32-24);
  position: relative;
}

.list.ordered > li::after {
  content: counter(num) '.'; 
	counter-increment: num;
  left: 0;
	position: absolute;
  top: 0;
}


/* Unordered */


.list.unordered > li {
  padding-left: var(--indent-32-24);
  position: relative;
}

.list.unordered > li::after {
  background-color: var(--bg-black);
  border-radius: 50%;
  height: var(--base);
  content: '';
  left: 0;
  position: absolute;
  top: 50%;
  width: var(--base);
}

