.wrap {
  border: none;
  position: relative;
}

.wrap[open] { animation: slide .3s ease; }

.wrap::backdrop { background-color: rgba(0, 0, 0, .8); }

.wrap[open]::backdrop { animation: fade .2s ease; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--indent-24-16);
  width: 100%;
}

.header, .footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 2px solid var(--decor-light-gray);
  padding-bottom: var(--indent-24-16);
}

.footer {
  border-top: 2px solid var(--decor-light-gray);
  padding-top: var(--indent-24-16);
}

.offcanvas {
  height: 100%;
  min-height: 100vh;
  min-width: var(--offcanvas-width);
}

@keyframes fade {
  from { background-color: transparent; }
  to { background-color: rgba(0, 0, 0, .8); }
}

@keyframes slide {
  from { left: calc(var(--offcanvas-width) * -1); }
  to { left: 0 }
}