.wrap {
  border: none;
  position: relative;
}

.wrap::backdrop { background-color: rgba(0, 0, 0, .8); }

.wrap[open]::backdrop { animation: fade-in .2s ease; }

.close.wrap::backdrop { animation: fade-out 1s ease; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--indent-24-16);
  width: 100%;
}

.header, .footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 2px solid var(--decor-light-gray);
  padding-bottom: var(--indent-24-16);
}

.footer {
  border-top: 2px solid var(--decor-light-gray);
  padding-top: var(--indent-24-16);
}


/* Offcanvas */


.offcanvas {
  height: 100%;
  min-height: 100vh;
  min-width: var(--offcanvas-width);
}

.wrap[open].offcanvas { animation: open-offcanvas .3s ease forwards; }

.wrap.offcanvas.close {
  animation: close-offcanvas 1s ease forwards;
}


/* Keyframes */


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes open-offcanvas {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes close-offcanvas {
  to { transform: translateX(-100%); }
}