.wrap {
  display: grid;
  grid-template-areas: 'tabs cards';
  grid-template-columns: calc(100% / 12 * 3) auto;
}

.list_container {
  background-color: #fff; /* temp */
  border-bottom-left-radius: var(--outer_radius);
  border-top-left-radius: var(--outer_radius);
  grid-area: tabs;
  height: 100%;
}

.list {
  position: sticky;
  top: 0;
}