.wrap {
  display: grid;
  grid-template-areas: 'buttons cards';
  grid-template-columns: calc(100% / 12 * 3) auto;
}

.buttons {
  grid-area: buttons;
  height: 100%;
}

.list {
  position: sticky;
  top: calc(var(--base) * 24);
}
