.container {
  max-width: calc(var(--base) * 320);
  width: 100%;
}

.wrap {
  display: grid;
  justify-items: center;
  padding: 0 var(--indent-16-12);
}

.navbar {
  background-color: var(--white-bg);
  position: sticky;
  top: 0;
}