.accordion {}

.accordion:not([hidden]) {}

.dialog {}

.regular { padding: var(--regular_card_padding); }

.regular {
  background-color: #fff; /* temp */
  border-radius: var(--outer_radius);
}

.tab {
  background-color: #fff; /* temp */
  border-left: 2px solid #e5e5e5; /* temp */
  grid-area: cards;
  padding: 18px var(--big_padding) 12px var(--small_padding);
}

.tab:not([hidden]) {}

.tab:not([hidden]).slide_down > * {}

.tab:not([hidden]).slide_up > * {}
