.accordion {}

.accordion:not([hidden]) {}

.dialog {}

.regular,
.tab { padding: var(--regular_card_padding); }

.regular {
  background-color: #fff; /* temp */
  border-radius: var(--outer_radius);
}

.tab {
  background-color: #fff; /* temp */
  border-left: 2px solid #e5e5e5; /* temp */
  border-bottom-right-radius: var(--outer_radius);
  border-top-right-radius: var(--outer_radius);
  grid-area: cards;
}

.tab:not([hidden]) {}

.tab:not([hidden]).slide_down > * {}

.tab:not([hidden]).slide_up > * {}
