/* 1. Import optimized typefaces */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       url('../fonts/montserrat_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat'),
       url('../fonts/montserrat_bold.woff2') format('woff2');
}


/* 2. Add typefaces to selectors */
* { font-family: 'Montserrat', sans-serif; }


/* 3. Add styles to selectors */
a { text-decoration: none; }


/* 4. Define variables with sizes, line-spacings and paddings */
:root {
  --smallest_font_size: 14px;
  --smallest_line_height: 20px;

  --smaller_font_size: 16px;
  --smaller_line_height: 24px;

  --regular_font_size: 18px;
  --regular_line_height: 28px;

  --subtitle_font_size: 22px;
  --subtitle_line_height: 28px;

  --h2_font_size: 30px;
  --h2_h6_line_height: 36px;

  --h1_font_size: 44px;
  --h1_line_height: 56px;
}

@media (max-width: 768px) {
  :root {
    --smallest_font_size: 12px;
    --smallest_line_height: 16px;
  
    --smaller_font_size: 16px;
    --smaller_line_height: 24px;
  
    --regular_font_size: 16px;
    --regular_line_height: 24px;
  
    --subtitle_font_size: 19px;
    --subtitle_line_height: 24px;
  
    --h2_font_size: 22px;
    --h2_h6_line_height: 28px;
  
    --h1_font_size: 29px;
    --h1_line_height: 36px;

    --padding_between_paragraphs: 16px;
  }
}


/* 5. Define classes with fonts sizes only */
.smallest_font_size { font-size: var(--smallest_font_size); }
.smaller_font_size { font-size: var(--smaller_font_size); }
.regular_font_size { font-size: var(--regular_font_size); }

.subtitle_font_size {
  font-family: 'montserrat_bold', sans-serif;
  font-size: var(--subtitle_font_size);
}

.h2_font_size { font-size: var(--h2_font_size); }
.h1_font_size { font-size: var(--h1_font_size); }


/* 6. Define classes with fonts sizes and line-spacings */
.smallest_font_style {
  font-size: var(--smallest_font_size);
  line-height: var(--smallest_line_height);
}

.smaller_font_style {
  font-size: var(--smaller_font_size);
  line-height: var(--smaller_line_height);
}

.regular_font_style {
  font-size: var(--regular_font_size);
  line-height: var(--regular_line_height);
}

.subtitle_font_style {
  font-family: 'montserrat_bold', sans-serif;
  font-size: var(--subtitle_font_size);
  line-height: var(--subtitle_line_height);
  padding-bottom: var(--padding_between_paragraphs);
}

.h2_font_style {
  font-size: var(--h2_font_size);
  line-height: var(--h2_h6_line_height);
}

.h1_font_style {
  font-size: var(--h1_font_size);
  line-height: var(--h1_line_height);
}


/* 7. Define variables with colors */
:root {
  --interactive_color: hsl(213, 100%, 35%);
  --muted_color: hsl(240, 2%, 47%);
  --primary_color: hsl(0, 0%, 0%);
  --regular_color: hsl(0, 0%, 20%);
}


/* 8. Define styles with colors & all others */
a { text-decoration: none; }

.interactive_color { color: var(--interactive_color) }

.muted_color { color: var(--muted_color) }

.primary_color { color: var(--primary_color) }

.regular_color { color: var(--regular_color) }
