* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body { margin: 0; }

button, input, select, textarea {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}