* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { background-color: #e5e5e5; } /* temp */

button, input, select, textarea { font-family: inherit; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

main {
  display: grid;
  gap: var(--gap_between_sections);
  margin: var(--gap_between_sections) 0;
}

ul > li,
ol > li { list-style-type: none; }
