:root {
  --indent: 4px;

  --gap_between_sections: calc(var(--indent) * 18);
  --gap_inside_section: calc(var(--indent) * 9);

  --big_padding: calc(var(--indent) * 9);
  --small_padding: calc(var(--indent) * 6);

  --inner_radius: var(--indent);
  --outer_radius: calc(var(--indent) * 2);

  --regular_card_padding: var(--small_padding)
                          var(--big_padding)
                          var(--big_padding)
                          var(--small_padding);
}