:root {
  --indent: 4px;

  --inner_radius: var(--indent);
  --outer_radius: calc(var(--indent) * 2);

  --big_padding: calc(var(--indent) * 9);
  --small_padding: calc(var(--indent) * 6);

  --regular_card_padding: var(--small_padding) var(--big_padding) var(--big_padding) var(--small_padding);
}